@using Blogifier.Shared
@{
    Layout = "layouts/_main.cshtml";
}

<main class="container">
    <partial name="post/featured.cshtml" />
    @*
        TODO:
        Custom fields:
        - Post list style options:
            1. view-grid (default)
            2. view-list
    *@
    <partial name="post/view-grid.cshtml" />
    @* <partial name="post/view-list.cshtml" /> *@

    <h2>
        Hi there...
    </h2>

    <p>
        Perdona por el desastre. Este blog está en una fase muy verde aún.
        Vas a encontrar bastantes errores y cosas raras, perdón por ello.

        <br />

        De todas formas, necesitaba un lugar donde dejar las cosas, por lo que
        aquí estamos.

        <br />

        Btw, aquí tienes algunas entradas por si gustas, cheers:
    </p>

    <partial name="components/pagination.cshtml" />
</main>
